%script

%h1 Edit Entry

-# = form_for [:company, :project, :task, @entry] do |f|
-# = form_for @entry do |f|

-# WAT - Y U NO figure this out from @entry?
= form_for [@entry.task.project.company, @entry.task.project, @entry.task, @entry] do |f|

  %fieldset
    = f.label :date
    = f.date_select :date

  %fieldset
    = f.label :description
    = f.text_field :description

  %fieldset
    = f.label :duration_in_minutes
    = f.number_field :duration_in_minutes

  %fieldset
    = label_tag :set_timer_start
    %span (When stopped, timer will add to duration)
    = check_box_tag :set_timer_start

  %fieldset.active_timer_start
    = f.label :active_timer_start
    = f.datetime_select :active_timer_start

  = f.submit "Update Entry"
