= render partial: "breadcrumbs", locals: {task: @task}

%h1 Task: #{@task.name}

Total Time: #{@task.duration_in_minutes}

%table
  %thead
    %tr
      %th Description
      %th Duration
      %th Timer Running?
  %tbody
  - @entries.each do |entry|
    %tr
      %td= link_to entry.description, company_project_task_entry_path(task_id: @task.id, id: entry.id)
      %td= human_duration(entry.duration_in_minutes)
      %td= human_boolean(entry.timer_running?)

= link_to "New Entry", new_company_project_task_entry_path(task_id: @task.id) 
